.btn {
  border:1px solid black;
  text-align: center;
  padding: 20px;
  display: block;
  margin: 20px auto;
  background-color: #ccc;
}

.wrapper{
  outline: 1px dashed red;
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width:30px;
  height: 30px;
  border: 1px dashed red;
  margin: 10px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
}